<!DOCTYPE html>


<html>
   <head>
    <meta name="robots" content="noindex, nofollow">  
<link rel="stylesheet" href="/assets/css/chessboard-0.3.0.min.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
 <link rel="stylesheet" href="/assets/css/design/buttons.css">
 <script src="/assets/js/chess.min.js"></script>
<script src="/assets/js/chessboard-0.3.0.min.js"></script>    

</script>

</script>

   </head>
   
   <body>
      <h2>Problem Panel</h2>

      <%= link_to 'New', new_problempanel_path, class: "btn btn-lg btn-primary" %>
     <% @problems.each_with_index  do |problem, index| %>
            
        <div class="col-xs-6 col-lg-4">
              <div class="col-md-1">
              </div>
                <div class="col-md-10">
                  <h2 style="color: #FF851B; 
                  font-style: bold;"></h2>
                    <div id="board_<%=index%>" ></div>
                    <span id="tactic_<%=index%>"><%= problem.fen %></span>
                  <p><a id="btn_board_<%=index%>"  class="btn btn-default"role="button">View details »</a></p>
            <%= link_to 'Edit', edit_problempanel_path(problem) %>
                  <!-- <a ui-sref="detail({id: i.FEN})">View details</a> -->
                </div>
              <div class="col-md-1">
              </div>
            </div><!--/.col-xs-6.col-lg-4-->     
           
        <% end %>
 
      <script src="/assets/js/myjs/mate2.js"></script>  
      <script src="/assets/js/tournament/data/mate3.js"></script>
<script type="text/javascript">
// var tt= '<%=@objArray%>'
  // var tt= '<%=@objArray%>'
  $(document).ready(function() {
   var problems=[];
   var tactics=[];
  $('span[id^="tactic_"]').each(function(index, el) {
    console.log($(el).html());
    tactics.push($(el).html());
  });

 
       for (var i = 0; i < 2; i++) {
          var g = new Chess();
          g.load_pgn(mate3[i].join('\n'), {newline_char:'\n'});
          var h = g.header();
          problems[i] = h;
        }
    var boardname='board_';
    console.log("length:"+problems.length);
      for (var i = 0; i < problems.length; i++) {
                  var board2 = ChessBoard(boardname+i, {
                    position: tactics[i],
                    showNotation: false
                  });
               console.log(tactics[i]);   
      }

  }); //document ready
</script>
   </body>
</html>
