<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
 <% @problems.each do |problem| %>
     <div><tr>
        
        <td><%= problem.info %></td>
        <td><%= problem.fen %></td>
        <td><%= problem.fes %></td>
        <td><%= problem.short_info %></td>
        <td><%= problem.genre %></td>
        
        <td><%= link_to 'Edit', edit_problempanel_path(problem) %></td>
        <td><%= link_to 'New', new_problempanel_path %></td>
        
        </tr>
      </div>  
    <% end %>
</body>
</html>