<link rel="stylesheet" href="/assets/css/chessboard-0.3.0.min.css" />
 <script src="/assets/js/chess.min.js"></script>
<script src="/assets/js/chessboard-0.3.0.min.js"></script>    

  <style type="text/css">
    .myfield {
      width: 400px;
    }
  
    .defaultInput
        {
         border:1px solid blue;
        }

        .error
        {
         border:1px solid red;
        }
</style>
<div class="container-full">
  <div class="row"> <!-- hoyor class="col-md-6" -g aguulsan row div -->
    <div class="col-md-1" >
 
    </div> 
    <div class="col-md-3" >
         <div id="board"></div>
    </div> 
 
    <div class="col-md-6" >  <!--class="col-md-6" 2dahi column div-n ehlel  -->
    
<%= form_for @tactic, :url => create_tactics_path do |f| %>
 
  <div class="field">
    <%= f.label :fen %><br>
    <%= f.text_area :fen, :id =>"inputFen", class: "myfield"%>
  </div>
  <div class="field">
    <%= f.label :fes %><br>
    <%= f.text_area :fes, class: "myfield" %>
  </div>
 
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_area :info, class: "myfield" %>
  </div>
  <div class="field">
    <%= f.label :short_info %><br>
    <%= f.text_field :short_info, class: "myfield" %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre, class: "myfield" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
<div>
	
	<input type='file' accept='text/plain' onchange='openFile(event)'><br>
	<img id='output'>
	<div id="resultmatch" style="text-color: blue"></div>
	<div ><pre id="result"></pre></div>

</div>
<script type="text/javascript">
// var tt= '<%=@objArray%>'
 var openFile = function(event) {
		    var input = event.target;

		    var reader = new FileReader();
		    reader.onload = function(){
		      var text = reader.result;
		      var str = "8/8/8/8/1Q6/1K6/8/2Nk4 w - - 0 1|Deutsche Schachzeitung,1968,9 AUTHORS|1. Qa5 Kxc1 2. Qe1# 1-0"; 
   		 
var enteredText = text;
var numberOfLineBreaks = (enteredText.match(/\n/g)||[]).length;
var characterCount = enteredText.length + numberOfLineBreaks;
// enteredText.replace( /\n/g, "|" );
var arr = str.split("|");

// alert('Number of breaks:  ' + numberOfLineBreaks);

			    // var check_temp_name_array = [];
		     //  // console.log(regex2.exec(text));
		     //  // console.log(text);
			    // while((match = regex3.exec(text)) !== null){
			    //    check_temp_name_array.push(match[0]);
			    //    console.log(match[0]);
			    // }

			// var elements = $();
			// for(x = 0; x < check_temp_name_array.length; x++) {
			//     elements = elements.add('<div>'+check_temp_name_array[x]+'</div>');
			// }

		      $('#resultmatch').html(enteredText);
		      $('#result').html(enteredText);
		    };
		    reader.readAsText(input.files[0]);
		  };

 $(document).ready(function() {
  var game,
    cfg = {
    position: '',
  };
      
  var board = ChessBoard('board', cfg);      
    $(window).resize();
  game = new Chess();
  
  changeFENinput(); 
  
  $('#inputFen').on("change paste keyup", function() {
      changeFENinput();
  });

  function changeFENinput() {
      gg=$("#inputFen").val(); 
      tt=game.validate_fen(gg);
      fenValidate=tt.valid;
    
        if (fenValidate){
          $('#inputFen').removeClass('error');
           board.position(gg);
        }
        else
          $('#inputFen').addClass('error');
    
    } // function changeFENinput()  end


  }); //document ready
</script>