<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Keywords" content="chess puzzle,chess problem,chess tactic,chess analyse,chess computer play" />
    <meta name="Description" content="Chess puzzle,chess problem, chess tactic, chess training, chess engine analyse" />
  <title>Point Chess</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>    
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/assets/img/favicon.png' %>
  <meta charset="utf-8">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- #428bca -->

  <link rel="stylesheet" id="css-main" href="/assets/oneui/oneui.min.css">
  <link rel="stylesheet" id="css-theme" href="/assets/oneui/themes/flat.min.css">
   <style type="text/css">
     .navbar {
    background-color: #111;
    border-color: #111;
    text-color: #F0F7FA;
}

   </style>
</head>
<body>

<nav class="navbar navbar-static-top navbar-inverse">    
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Point Chess',  root_path, :class=>"navbar-brand"%>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse" >
          <ul class="nav navbar-nav">             
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Play <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Play', trains_computerplay_path %></li>
                <li><%= link_to 'Not piece', trains_computer_not_piece_path %></li>
                <li><%= link_to 'Not board', trains_computerplay_path %></li>
              </ul>
            </li>
                
                <li><%= link_to 'Analyse', trains_analyse_path %></li>
                  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tactics <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Tactics', tactic_tactics_path %></li>
                <li><%= link_to 'Puzzle', tactic_tactics_path(:type => 'puzzle') %></li>
                <li><%= link_to 'Mate in 2', tactic_tactics_path(:type => '2') %></li>
                <li><%= link_to 'Mate in 3', tactic_tactics_path(:type => '3') %></li>
                <li><%= link_to 'Mate in 4', tactic_tactics_path(:type => '4') %></li>
                
              </ul>
            <li class="dropdown" style="display: none">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tournament <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Tournament', tournament_battle_path %></li>

                <li><%= link_to 'Problempanel', problempanel_path %></li>
                <li><%= link_to 'Tournament', tournament_index_path %></li>
                <li><%= link_to 'TBattle', tournament_battle_path %></li>
                <li><%= link_to 'PgnViewer', trains_pgnviewer_path %></li>
                <li><%= link_to 'PgnAnalyse', problems_pgnanalyse_path %></li>
                <li><%= link_to 'DailyTrain', trains_playgame_path %></li>
                </ul>
            </ul></li>

            
            <ul class="nav navbar-nav navbar-right">
            <% if ApplicationHelper.user_logged?(session) %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="color: white;"><%= ApplicationHelper.current_user(session).name %></span>
           <span class="caret"></span></a>
              <ul class="dropdown-menu">
             
                <li><%= link_to('Logout', users_logout_path, :method => :delete) %>     
                </li>
              </ul>
             <% else %>
                <li>
                <%= link_to('Login', users_login_path)  %>  
                </li>
            <% end %>
              </ul>
         
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav>

 

    <div class="navbar navbar-default navbar-fixed-bottom hide">
      <div class="container">
        <p class="navbar-text pull-left">Site Build By Titan Chess Agency</p>
        <a class="navbar-button btn-danger btn pull-right">Subscribe on YouTube</a>
      </div>
    </div>

  <div id="main_content" class="container bg">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
<!-- <div id="content" class="col-md-9 center-block"> -->
      <div id="content">
        <%= yield %>
      </div>
 <!-- 
      <footer class="blog-footer" style="bottom: 1px">
      <p>Built for <a href="http://titan-chess.com">Site build by Zulaa</a> by <a href="https://twitter.com/zulnemeh">@zulaa</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
     -->
    </div>
</body>
</html>